<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Školní noviny</title>
</head>
<body>
    <header>
    <%- include("../stejne/hlavicka.ejs") -%>
    </header>
    <article>
    <a href="/main/redakce_heslo">Redakce</a>
    <h2>články</h2>

    <main class="main">
        
        <% for(let i in clanky){ %>
            <div id=<%= clanky[i].id %> onclick="location.href='/main/detail/<%= clanky[i].id %>'" ><%= clanky[i].nadpis %></div>
        <% } %>
    </main>
</article>
<footer>
    <%- include('../stejne/paticka.ejs') -%>
</body>
</html>